{% extends "base.html" %}

{% block content %}

<h2>Adicionar novo perfume</h2>

<form class="formulario" method="post">
    <div class="form-grid">
        <input type="text" name="nome" placeholder="Nome" required>

        <input type="text" name="marca" placeholder="Marca" required>

        <input type="text" name="tipo" placeholder="Tipo (ex: cítrico, fresco, unissex)">

        <select name="publico">
            <option value="">Público</option>
            <option value="masculino">Masculino</option>
            <option value="feminino">Feminino</option>
            <option value="unissex">Unissex</option>
        </select>

        <input type="number" name="preco" placeholder="Preço" step="0.01">

        <input type="text" name="ocasiao" placeholder="Ocasião (ex: dia a dia, trabalho, calor)">

        <input type="text" name="fixacao" placeholder="Fixação (ex: suave, moderada, intensa)">

        <input type="text" name="projecao" placeholder="Projeção (ex: discreta, moderada, marcante)">

        <input type="text" name="imagem" placeholder="Imagem (ex: acqua_di_gio.jpg)">
    </div>

    <textarea name="descricao" placeholder="Descrição"></textarea>

    <textarea name="notas" placeholder="Notas olfativas (ex: bergamota, limão, musk)"></textarea>

    <input type="url" name="link_compra" placeholder="Link afiliado do Mercado Livre">

    <button type="submit">Salvar perfume</button>
</form>


<a href="{{ url_for('admin') }}" class="link-voltar">Voltar para o painel</a>

{% endblock %}
