{% extends "base.html" %}

{% block content %}

<h2>Adicionar novo perfume</h2>

<form class="formulario" method="post">
    <input type="text" name="nome" placeholder="Nome" required>

    <input type="text" name="marca" placeholder="Marca" required>

    <input type="text" name="tipo" placeholder="Tipo">

    <input type="number" name="preco" placeholder="Preço" step="0.01">

    <textarea name="descricao" placeholder="Descrição"></textarea>

    <input type="text" name="imagem" placeholder="Imagem (ex: acqua_di_gio.jpg)">

    <input type="url" name="link_compra" placeholder="Link afiliado do Mercado Livre">

    <button type="submit">Salvar</button>
</form>

<a href="{{ url_for('index') }}" class="link-voltar">Voltar</a>

{% endblock %}
